In [ ]:
conejos = 126
zanahoria = 0
print(conejos)
conejos = 150
zanahoria = conejos
print(conejos, zanahoria)
conejos = 250
print(conejos, zanahoria)

In [ ]:
s = 3 + 6
r = 5 - 4
m = 6 * 3
d = 8 / 2
d2 = 7 / 2
print(s, r, m, d, d2)

In [ ]:
s = 1 + 6
r = 12 - 8
m = 3 * 5
d = 12 / 4
print(s, r, m, d)

In [ ]:
a = (4 + 5) * 6
b = 4 + (5 * 6)
print(a, b)

In [ ]:
animal = "elefante"
color = "rosa"
imagina = animal + color
print(imagina)
imagina = animal + " " + color
print(imagina)

In [ ]:
nombre = input("¿Cual es tu nombre?")
inicial = nombre[0]
print(inicial)

In [ ]:
for n in range(8):
  print(n)

In [ ]:
for n in range(3, 99, 3):
  print(n)

In [ ]:
for n in range(10, 0, -1):
  print(n)
print("¡Despegue!")

In [ ]:
from turtle import *
for n in range(4):
  forward(100)
  right(90)

In [3]:
x = 10
y = 20
z = 35
print(x, y, z)
print(f"{x}, {y}, {z}.")

10 20 35
10, 20, 35.